.header {width:100%;padding:20px 0;z-index:100;margin-bottom:22px;}
.header-logo {display:flex;align-items:center;gap:60px;}
.header-logo .header-search {padding:20px 0 0 0;flex:1;}
.header-logo .header-search input {background:var(--c-white) url(../img/search.svg) no-repeat 97% 50% !important;background-size:16px !important;padding-right:35px;}
.header-logo .header-search .form-control, input {padding-top:8px;max-width:400px;color:var(--c-blue-deep);font-weight:350;font-size:16px;border:1px solid var(--c-blue-deep);border-radius:5px;}
.header-logo .header-search input::placeholder {color:var(--c-blue-deep) !important;}
.header-menu-right {padding:20px 0 0 0;display:flex;align-items:center;justify-content:end;gap:20px;}
.header-menu-right img {width:20px;}
.header-menu-right .header-phone {padding-right:20px;color:var(--c-blue-deep);font-weight:700;font-size:20px;}
.header-menu-right .auth-item {padding:1px;background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);border-radius:5px;}
.header-menu-right .auth-item .sign-up {padding:5px 19px;color:var(--c-blue-deep);font-weight:700;font-size:20px;background:var(--c-white);}
.header-menu-right .auth-item .sign-in {padding:5px 21px;color:var(--c-white);font-weight:700;font-size:20px;}
.header-menu-bottom-line {background:var(--c-blue-deep);}
.header-menu-bottom {margin-top:20px;display:flex;align-items:center;justify-content:start;gap:16px;}
.header-menu-bottom .header-menu-item {font-weight:700;font-size:20px;color:var(--c-white);}

@media (max-width:991px) {
    .header-logo .bransontickets-logo img {width:200px;}
    .header-menu-right {gap:10px;}
    .header-menu-right .header-phone {padding-right:0;font-size:16px;}
    .header-menu-right .auth-item .sign-up, .header-menu-right .auth-item .sign-in {font-size:16px;}
}

@media (max-width:767px) {
    .header-logo .bransontickets-logo img {width:150px;}
    .header-menu-right, .header-menu-bottom-line, .header-logo .header-search {display:none;}
}
