.header {border-radius:0 0 8px 8px;height:80px;position:fixed;width:100%;padding:10px 0;z-index:990;background:var(--c-primary-ligth);box-shadow: 0 0 30px -10px #000;}
.header .header-content {display:flex;}
.header .menu-up-control {float:right;color:var(--c-new-blue);font-size:26px;cursor:pointer;padding:10px 0;}
.header .auth-items {display:flex;align-items:center;justify-content:flex-start;padding:10px 0;gap:10px;}
.header .bransontickets-logo {width: 156px;display:inline-block;margin:0 30px 0 0;}
.header .header-message {flex:2;font-size:20px;font-weight:600;text-align:center;}
.header .header-message .bg {background:#fff;border-radius:5px;display:inline-block;}
.header .header-message .message {color:var(--c-new-blue);padding:3px 7px;display:inline-block;}
.header .header-message .phone {color:var(--c-new-blue);background:var(--c-violet-light);padding:3px 7px;display:inline-block;border-radius:5px;}

.header-height-fixed-block {height: 120px;}
.auth-items {margin:0 10px 0 0;}
.auth-items .auth-item {font-size:30px;margin:0 5px 0 0;display:inline-block;}

.menu-up {display:inline-block;margin:0 15px 0 0;}
.menu-up a {color:var(--c-new-blue);font-size:20px;font-weight:900;text-decoration:none;display:inline-block;margin:0 15px 0 0;}

.menu-general {position:fixed;width:400px;top:0;right:-400px;bottom:0;z-index:9999;padding:30px 40px;background-color:var(--c-blue-deep-dark);-webkit-backdrop-filter:blur(4px);backdrop-filter:blur(4px);}
.menu-general .phone {position:absolute;bottom:40px;left:40px;right:40px;}
.menu-up-control-close {display:inline-block;cursor:pointer;border-radius:5px;width:40px;height:40px;line-height:40px;font-size:40px;color:var(--c-white);}
.menu-up-control-close:hover {background:#fff;color:var(--c-new-blue);}
.menu-up-control-close i {color:var(--c-primary-ligth);font-size:40px;left:12px;bottom:2px;position:relative;}
.menu-up-control-close:hover i {color:var(--c-new-blue);}
body.menu-up-is-open {overflow: hidden;}
body.menu-up-is-open .menu-general-fon {content:"";display:block;position:fixed;top:0;bottom:0;left:0;right:0;z-index:9998;backdrop-filter:blur(10px);}
body.menu-up-is-open .menu-general-fon-click {position:fixed;top:0;bottom:0;left:0;right:400px;z-index:9999;}

.menu-main, .menu-main li {margin:0;padding:0;}
.menu-main {padding:0 0 10px;margin:0 0 10px;clear:both;overflow:hidden}
.menu-main li {margin:0 0 15px;padding:0;list-style:none;width:100%;text-align:left;border-bottom: 2px solid transparent}
.menu-main li:before {display:none;}
.menu-main li, .menu-main li a {font-size:32px;font-weight:600;}
.menu-main li a {font-weight:bold;color:var(--c-primary-ligth);text-decoration:none;line-height:1.2;display:block;}
.menu-main li a:after {content:"";display:block;opacity:0;margin:5px 0;height:1px;border-top:1px solid var(--c-white);}
.menu-main li a:hover {color:var(--c-white);}
.menu-main li a:hover:after {opacity:1;}

@media (max-width:991px) {
    .header {height:70px;}
    .header .bransontickets-logo {width:130px;}
    .header .menu-up-control {font-size:22px;}

    .header-height-fixed-block {height: 110px;}
    .auth-items .auth-item .sign-up, .auth-items .auth-item .sign-in {font-size:16px;}

    .menu-main li {margin:0;}
    .menu-main li a {font-size:30px;line-height:35px;}
}

@media (max-width:767px) {
    .header {height:70px;}
    .header .bransontickets-logo {width:100px;}

    .header-height-fixed-block {height: 110px;}

    body.menu-up-is-open .menu-general-fon-click {display:none;}

    .menu-general {width:100vw;right:-100vw;}

    .menu-main li, .menu-main li a {font-size:25px;}
}

@media (max-width:576px) {
    .menu-general {padding:20px;}
    .menu-up li {padding:0 10px 0 0;}
}

@media (max-height:650px) {
    .menu-general {overflow-y:scroll;}
    .menu-general .phone {position:static;}
}
