.header {position:fixed;width:100%;padding:10px 0;z-index:100;background:var(--c-light-violet);
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.header .menu-up-control {float:right;color:var(--c-new-blue);font-size:26px;top:3px;position:relative;cursor:pointer;padding:10px 0;}
.header .auth-items {display:flex;align-items:center;justify-content:flex-start;padding:10px 0;gap:10px;}
.header .bransontickets-logo img {display:block;margin:0 auto;}
.auth-items .auth-item {border-radius:5px;}
.auth-items .auth-item .sign-up {padding:4px 20px;color:var(--c-white);font-weight:700;font-size:20px;background:var(--c-new-blue);transition:none;}
.auth-items .auth-item .sign-up:hover {background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);}
.auth-items .auth-item .sign-in {padding:4px 20px;color:var(--c-new-blue);font-weight:700;font-size:20px;}
.auth-items .auth-item .sign-in:hover {border:1px solid var(--c-new-blue);}
.header-menu-phone {display:flex;align-items:center;justify-content:center;gap:20px;padding:10px 0;}
.header-menu-phone img {width:23px;}
.header-menu-phone .header-phone {color:var(--c-new-blue);font-weight:700;font-size:26px;text-decoration:none;letter-spacing:1px;}
.header-menu-phone.detail {justify-content:flex-start;}

.menu-general {position:fixed;width:350px;top:0;right:-350px;bottom:0;z-index:9999;padding:10px;background-color:var(--c-blue-deep-dark);-webkit-backdrop-filter:blur(4px);backdrop-filter:blur(4px);}
.menu-up-control-close {margin:60px 0 0 60px;cursor:pointer;border:1px solid transparent;border-radius:5px;position:relative;width:40px;height:40px;line-height:40px;font-size:40px;color:var(--c-white);}
.menu-up-control-close:hover {border: 1px solid transparent;background:linear-gradient(var(--c-white), var(--c-white)) padding-box,
    linear-gradient(to right, var(--c-violet), var(--c-violet-gray)) border-box;}
.menu-up-control-close i {color:var(--c-light-violet);font-size:40px;left:12px;bottom:2px;position:relative;}
.menu-up-control-close:hover i {color:var(--c-new-blue);}

.menu-main, .menu-main li {margin:0;padding:0;}
.menu-main {padding:30px 0 10px;margin:0 0 10px;clear:both;overflow:hidden}
.menu-main li {margin:0 0 20px;padding:0 60px;list-style:none;width:100%;text-align:left;border-bottom: 2px solid transparent}
.menu-main li:before {display:none;}
.menu-main li, .menu-main li a {font-size:36px;font-weight:700;}
.menu-main li a {font-weight:bold;color:var(--c-light-violet);text-decoration:none;}
.menu-main .line {opacity:0;position:relative;width:90%;left:0;height:2px;background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);}
.menu-main li a:hover {color:var(--c-white);}
.menu-main li a:hover .line {opacity:1;}

.menu-general .menu-phone {display:none;}
.menu-general .menu-footer {display:flex;align-items:center;gap:40px;flex-wrap:wrap;position:absolute;bottom:0;left:0;right:0;padding:40px 0 40px 60px;background:var(--c-light-violet);}
.menu-general .menu-footer .item img {width:160px;}

@media (max-width:991px) {
    .header .bransontickets-logo img {height:40px;}
    .header .menu-up-control {font-size:22px;padding:10px 0 0 0;}
    .header-menu-phone {gap:10px;padding:13px 0 0 0;}
    .header-menu-phone img {width:18px;}
    .header-menu-phone .header-phone {font-size:20px;}
    .auth-items .auth-item .sign-up, .auth-items .auth-item .sign-in {font-size:16px;}
}

@media (max-width:767px) {
    .header {padding:12px 0 13px 0;}
    .header .bransontickets-logo img {height:35px;margin:0;}
    .menu-general {width:100vw;right:-100vw;}
    .header .menu-up-control {display:block;padding:2px 0 0 0;}
    .header-menu-phone {justify-content:flex-start;gap:10px;padding:5px 0 0 0;}

    .menu-main li, .menu-main li a {font-size:32px;}
    .menu-general .menu-phone {position:absolute;bottom:260px;padding:0 60px;display:flex;align-items:center;justify-content:flex-start;gap:10px;}
    .menu-general .menu-phone img {width:16px;filter: brightness(0) invert(1);}
    .menu-general .menu-phone .phone {color:var(--c-white);font-weight:700;font-size:20px;text-decoration:none;letter-spacing:0.4px;}
    .menu-general .menu-footer {display:block;padding:20px 0 20px 60px;}
    .menu-general .menu-footer .item {padding:20px 0;}
}

@media (max-width: 576px) {
    .menu-general .menu-phone {bottom:168px;}
    .menu-general .menu-footer {display:block;padding:10px 0 10px 60px;}
    .menu-general .menu-footer .item {padding:10px 0;}
    .menu-general .menu-footer .item img {width:80px;}
}