:root {
    --c-white: #FFFFFF;
    --c-white-smoky: #F5F5F5;
    --c-gray-granite: #313844;
    --c-blue-deep: #252161;
    --c-new-blue: #373281;
    --c-new-blue-1: rgba(55, 50, 129, .7);
    --c-blue-deep-dark: rgba(37, 33, 97, 0.7);
    --c-blue-deep-dark-2: rgba(37, 33, 97, 0.1);
    --c-shadow-purple-1: rgba(16, 14, 37, 0.20);
    --c-shadow-purple-2: rgba(16, 14, 37, 0.17);
    --c-shadow-purple-3: rgba(16, 14, 37, 0.10);
    --c-shadow-purple-4: rgba(16, 14, 37, 0.03);
    --c-shadow-purple-5: rgba(16, 14, 37, 0.00);
    --c-purple-bright: #92278E;
    --c-light-violet: #EDE9FF;
    --c-violet-gray: #7F00FF;
    --c-violet: #E100FF;
    --c-violet-dark: #A700FF;
}

html, body {height:100%;width:100%;}

body {margin:0;padding:0;background:url('/img/main-background.png'), var(--c-new-blue) repeat;font-family:'Circe';}

.wrapper-main {height:100%;display:flex;flex-direction:column;}

main {flex:1;}

.fixed {max-width:1520px;padding:0 20px;margin:0 auto;}

.week-wrap {position:relative;}
.margin-block {margin:0 0 50px;}

.frame.horizontal {overflow: hidden;}
.frame.horizontal ul {list-style:none;margin:0 0 10px;padding:0;height:100%;display:flex;flex-direction:row;overflow:hidden;position:relative;}
.frame.horizontal ul li {width:480px;display:block;margin:0 0 0 20px;padding:0 0 15px;list-style:none;text-align:left;background:var(--c-white);border-radius:10px;position:relative;}
.frame.horizontal ul li:before {display:none;}
.frame.horizontal ul li:first-child {margin:0;}

/* main-page */

.main-banner {height:506px;background:url('/img/main-banner-image.png') repeat 50% 50%;background-size:cover;position: relative;}

@media (max-width: 992px) {
    .main-banner {height:406px;}
}
@media (max-width: 768px) {
    .main-banner {height:286px;}
}
@media (max-width:575px) {
    .main-banner {height:206px;}
}

.main-banner .main-logo img {display:block;width:398px;filter:brightness(0) invert(1);margin:0 auto;padding-top:105px;}

.main-banner .search {display:flex;align-items:center;justify-content:center;gap:20px;padding-top:60px;z-index:11;}
.main-banner .search .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {border-top-right-radius:5px;border-bottom-right-radius:5px;}
.main-banner .search .input-group {max-width:200px;}
.main-banner .search .input-search input, .main-banner .search .input-group input, 
.main-banner .search select {max-width:200px;padding:9px 14px;text-align:left;color:var(--c-blue-deep);font-weight:350;font-size:16px;
    border:1px solid var(--c-blue-deep);border-radius:5px;box-shadow:none !important;}
.main-banner .search .input-search input::placeholder, .main-banner .search .input-group input::placeholder {color:var(--c-blue-deep) !important;}
.main-banner .search select {cursor:pointer;background-image:url('/img/arrow-down.svg');background-repeat:no-repeat, repeat;background-position:right 14px top 50%, 0 0;background-size:15px auto, 100%;}
.main-banner .search .btn-search {max-width:200px;width:100%;padding:7px 20px;color:var(--c-white);font-weight:700;font-size:20px;
    background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);border-radius:5px;border:none;}
.main-banner .search .btn-search:hover {background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);}

.main-banner .pros {position:absolute;background:var(--c-light-violet);bottom:0;left:0;right:0;padding:15px 0;z-index:11;display:flex;align-items:center;justify-content:center;gap:60px;}
.main-banner .pros .pros-item {color:var(--c-new-blue);font-weight:700;font-size:32px;}
.main-banner .pros .pros-item img {width:30px;margin:0 20px 5px 0;}

@media (max-width: 1600px) {
    .main-banner .pros {gap:30px;}
}

@media (max-width: 1200px) {
    .main-banner .pros {padding:15px 10px;gap:20px;}
    .main-banner .pros .pros-item {font-size:24px;}
}

@media (max-width: 992px) {
    .main-banner .pros {padding:15px 10px;gap:15px;}
    .main-banner .pros .pros-item {font-size:18px;}
    .main-banner .pros .pros-item img {width:20px;margin:0 10px 5px 0;}
}

@media (max-width: 768px) {
    .main-banner .main-logo img {display:none;}
    .main-banner .search {display:none;}
    .main-banner .pros {display:none;}
}

.main-info-block {padding:70px 0 30px 0;}
.main-info-block .main-info-description {padding:10px 0 20px 0;color:var(--c-white);font-size:32px;}
.main-info-block .main-info-line {position:absolute;width:56%;left:0;height:1px;background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);}
.main-info-block .main-info-line::after {content:"";position: absolute;right: 0;bottom: 1px;transform:translate(50%, 50%);width:5px;height:5px;
    background-color:var(--c-violet);border-radius:50%;}
.main-info-block .guitar img {opacity:0.2;}
.main-info-block .main-info-call {color:var(--c-white);text-align:center;}
.main-info-block .main-info-call .main-info-call-title {font-weight:700;font-size:64px;}
.main-info-block .main-info-call .main-info-call-text {padding-bottom:10px;font-weight:400;font-size:24px;}
.main-info-block .main-info-call .main-info-call-phone {display:flex;align-items:center;justify-content:center;gap:20px;margin:0 auto;max-width:450px;padding:16px 80px;font-weight:700;font-size:32px;color:var(--c-new-blue);border-radius:10px;background:var(--c-light-violet);text-decoration:none;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.main-info-block .main-info-call .main-info-call-phone img {width:30px;}

@media (max-width: 1200px) {
    .main-info-block {padding:40px 0 10px 0;}
    .main-info-block .main-info-description {font-size:24px;}
    .main-info-block .main-info-call .main-info-call-title {font-size:48px;}
    .main-info-block .main-info-call .main-info-call-phone {max-width:350px;padding:12px 40px;font-size:24px;gap:10px;}
    .main-info-block .main-info-call .main-info-call-phone img {width:25px;}
}

@media (max-width: 992px) {
    .main-info-block {padding:20px 0 10px 0;}
    .main-info-block .main-info-line {width:95%;}
}

@media (max-width: 768px) {
    
}

.featured {padding:10px 0;font-weight:800;font-size:40px;color:var(--c-white);text-transform:uppercase;text-align:center;}
.featured-items .frame.horizontal ul li {width:480px;background:var(--c-white);color:var(--c-new-blue);}
.featured-items .frame.horizontal ul li img {width:480px;border-radius:10px 10px 0 0;}
.featured-items .frame.horizontal ul li .about {padding:10px 16px 50px 16px;}
.featured-items .frame.horizontal ul li .about .title {padding-bottom:10px;font-weight:800;font-size:36px;}
.featured-items .frame.horizontal ul li .about .location {padding-bottom:20px;font-weight:400;font-size:20px;display:flex;align-items:center;justify-content:flex-start;gap:10px;}
.featured-items .frame.horizontal ul li .about .location img {width:20px;}
.featured-items .frame.horizontal ul li .about .location span {padding-top:4px;}
.featured-items .frame.horizontal ul li .about .featured-line {position:relative;width:100%;height:1px;left:0;background:var(--c-new-blue);}
.featured-items .frame.horizontal ul li .about .description {padding-top:20px;font-weight:400;font-size:18px;}
.featured-items .frame.horizontal ul li .more {position:absolute;bottom:0;right:0;left:0;padding:0 16px 10px;display:flex;align-items:center;justify-content:space-between;gap:10px;}
.featured-items .frame.horizontal ul li .more .category {display:flex;align-items:center;justify-content:flex-start;gap:12px}
.featured-items .frame.horizontal ul li .more .category img {width:30px;}
.featured-items .frame.horizontal ul li .more .category span {padding-top:8px;font-weight:400;font-size:14px;}
.featured-items .frame.horizontal ul li .more .item-btn {padding:7px 10px;width:40%;font-size:20px;font-weight:700;text-align:center;color:var(--c-white);border-radius:5px;text-decoration:none;
    background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);}
.featured-items .frame.horizontal ul li .more .item-btn:hover {background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);}
.featured-items-nav {position:relative;}
.featured-items-nav .fixed-nav {max-width:1600px;padding:0 20px;margin: 0 auto;}
.featured-items-nav .featured-left, .featured-items-nav .featured-right {border:1px solid transparent;border-radius:5px;position:relative;top:-390px;width:45px;height:45px;line-height:45px;font-size:45px;color:var(--c-white);}
.featured-items-nav .featured-left {float:left;left:-17px;padding-left:12px;}
.featured-items-nav .featured-right {float:right;right:-17px;padding-left:15px;}
.featured-items-nav .featured-left i, .featured-items-nav .featured-right i {position:relative;bottom:2px;}
.featured-items-nav .featured-left:hover {border: 1px solid transparent;background:linear-gradient(var(--c-white), var(--c-white)) padding-box,
    linear-gradient(to right, var(--c-violet-gray), var(--c-violet)) border-box;}
.featured-items-nav .featured-right:hover {border: 1px solid transparent;background:linear-gradient(var(--c-white), var(--c-white)) padding-box,
    linear-gradient(to right, var(--c-violet), var(--c-violet-gray)) border-box;}
.featured-items-nav .featured-left:hover i, .featured-items-nav .featured-right:hover i {background:-webkit-gradient(linear,left top,left bottom,from(var(--c-violet-gray)),to(var(--c-violet)));
	-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-align:center;}

@media (max-width: 1600px) {
    .featured-items {padding:0 35px;}
    .featured-items .frame.horizontal ul li {width:400px;}
    .featured-items .frame.horizontal ul li img {width:400px;}
}

@media (max-width: 1200px) {
    .featured-items .frame.horizontal ul li {width:350px;}
    .featured-items .frame.horizontal ul li img {width:350px;}
    .featured-items .frame.horizontal ul li .about .title {font-size:30px;}
    .featured-items .frame.horizontal ul li .about .location {font-size:18px;}
    .featured-items .frame.horizontal ul li .about .description {font-size:16px;} 
    .featured-items-nav .featured-left, .featured-items-nav .featured-right {top:-350px;}
}

@media (max-width: 992px) {
    .featured {padding:30px 0 10px 0;}
}

@media (max-width: 768px) {
    .featured-items-nav .featured-left, .featured-items-nav .featured-right {top:-330px;}
}

@media (max-width: 576px) {
    
}

.recommended {padding:30px 0 10px 0;font-weight:800;font-size:40px;color:var(--c-white);text-transform:uppercase;text-align:center;}
.recommended-items .frame.horizontal ul li {width:355px;background:var(--c-white);color:var(--c-new-blue);}
.recommended-items .frame.horizontal ul li img {width:355px;border-radius:10px 10px 0 0;}
.recommended-items .frame.horizontal ul li .about {padding:10px 16px 21px 16px;}
.recommended-items .frame.horizontal ul li .about .title {padding-bottom:10px;font-weight:800;font-size:20px;}
.recommended-items .frame.horizontal ul li .about .location {padding-bottom:23px;font-weight:400;font-size:20px;display:flex;align-items:center;justify-content:flex-start;gap:10px;}
.recommended-items .frame.horizontal ul li .about .location img {width:20px;}
.recommended-items .frame.horizontal ul li .about .location span {padding-top:4px;}
.recommended-items .frame.horizontal ul li .about .recommended-line {position:relative;width:100%;height:1px;left:0;background:var(--c-new-blue);}
.recommended-items .frame.horizontal ul li .more {padding:0 16px 0;}
.recommended-items .frame.horizontal ul li .more .category {padding-bottom:21px;display:flex;align-items:center;justify-content:flex-start;gap:12px}
.recommended-items .frame.horizontal ul li .more .category img {width:30px;}
.recommended-items .frame.horizontal ul li .more .category span {padding-top:8px;font-weight:400;font-size:14px;}
.recommended-items .frame.horizontal ul li .more .item-btn {display:block;padding:7px 10px;width:100%;font-size:20px;font-weight:700;text-align:center;color:var(--c-white);border-radius:5px;text-decoration:none;
    background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);}
.recommended-items .frame.horizontal ul li .more .item-btn:hover {background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);}
.recommended-items-nav {position:relative;}
.recommended-items-nav .fixed-nav {max-width:1600px;padding:0 20px;margin: 0 auto;}
.recommended-items-nav .recommended-left, .recommended-items-nav .recommended-right {border:1px solid transparent;border-radius:5px;position:relative;top:-280px;width:45px;height:45px;line-height:45px;font-size:45px;color:var(--c-white);}
.recommended-items-nav .recommended-left {float:left;left:-17px;padding-left:12px;}
.recommended-items-nav .recommended-right {float:right;right:-17px;padding-left:15px;}
.recommended-items-nav .recommended-left i, .recommended-items-nav .recommended-right i {position:relative;bottom:2px;}
.recommended-items-nav .recommended-left:hover {border: 1px solid transparent;background:linear-gradient(var(--c-white), var(--c-white)) padding-box,
    linear-gradient(to right, var(--c-violet-gray), var(--c-violet)) border-box;}
.recommended-items-nav .recommended-right:hover {border: 1px solid transparent;background:linear-gradient(var(--c-white), var(--c-white)) padding-box,
    linear-gradient(to right, var(--c-violet), var(--c-violet-gray)) border-box;}
.recommended-items-nav .recommended-left:hover i, .recommended-items-nav .recommended-right:hover i {background:-webkit-gradient(linear,left top,left bottom,from(var(--c-violet-gray)),to(var(--c-violet)));
	-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-align:center;}

@media (max-width: 1600px) {
    .recommended-items {padding:0 35px;}
    .recommended-items .frame.horizontal ul li {width:300px;}
    .recommended-items .frame.horizontal ul li img {width:300px;}
}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}

.find-more {padding:20px 0 60px 0;}
.find-more a {display:block;margin:0 auto;width:180px;padding:6px 10px;font-size:28px;font-weight:700;text-align:center;border:1px solid transparent;border-radius:7px;color:var(--c-new-blue);
    background:linear-gradient(var(--c-white), var(--c-white)) padding-box,linear-gradient(to right, var(--c-violet-gray), var(--c-violet)) border-box;text-decoration:none;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.find-more a:hover {padding:7px 11px;border:none;background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);color:var(--c-white);}

/* detail page */

.show-detail .main-info {padding-top:60px;display:flex;align-items:center;justify-content:flex-start;gap:40px;}
.show-detail .image-detail img {width:280px;border-radius:10px;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.show-detail h1 {font-weight:800;font-size:36px;text-transform:uppercase;color:var(--c-white);}
.show-detail .theatre-info {display:flex;align-items:center;justify-content:flex-start;gap:10px;flex-wrap:wrap;font-weight:400;font-size:20px;color:var(--c-white);}
.show-detail .theatre-info .item {display:flex;align-items:center;justify-content:flex-start;gap:10px;margin-right:10px;}
.show-detail .theatre-info .item img {width:25px;height:25px;filter:brightness(0) invert(1);}
.show-detail .theatre-info .item .phone-img {width:20px;}
.show-detail .categories {padding-top:40px;display:flex;align-items:center;justify-content:flex-start;gap:10px;flex-wrap:wrap;}
.show-detail .categories .tag {background:var(--c-light-violet);border-radius:5px;display:inline-block;padding:6px 8px 2px;font-size:12px;font-weight:700;
    position:relative;text-align:center;color:var(--c-blue-deep);text-decoration:none;border:1px solid transparent;}
.show-detail .categories .tag:hover {border:1px solid transparent;color:var(--c-new-blue);background:linear-gradient(var(--c-white), var(--c-white)) padding-box,linear-gradient(to right, var(--c-violet-gray), var(--c-violet)) border-box;text-decoration:none;}

@media (max-width: 1200px) {
    .show-detail h1 {font-size:32px;}
    .show-detail .theatre-info {font-size:16px;}
}

@media (max-width: 992px) {
    .show-detail h1 {font-size:26px;}
    .show-detail .theatre-info {margin:0;font-size:16px;}
    .show-detail .categories {margin:0 0 30px;}
    .show-detail .categories .tag {font-size:12px;}
}

@media (max-width: 768px) {
    .show-detail .main-info {display:block;}
    .show-detail .image-detail img {margin-bottom:20px;}
    .show-detail h1 {font-size:24px;text-align:center;}
    .show-detail .theatre-info {font-size:14px;text-align:center;}
    .show-detail .theatre-info img {width:20px;height:20px;}
    .show-detail .theatre-info .phone-img {width:15px;}
    .show-detail .image-detail {float:none;margin:0 0 10px;}
    .show-detail .image-detail img {width:100%;}
    .show-detail .categories {margin:0;text-align:center;}
    .show-detail .categories .tag {}
}

.menu-content {padding:40px 0 0 0;position:relative;}
.menu-content li {margin:0;display:block;}
.menu-content li:before {display:none;}
.menu-content .nav {border-radius:10px 10px 0 0;background:var(--c-blue-deep);justify-content:center;}
.menu-content .nav>li>a {margin-top:10px;padding:12px 60px 18px;display:block;}
.menu-content .nav>li>a .icon {font-size:24px;}
.menu-content .nav-tabs {position:relative;border:none;}
.menu-content .nav-tabs>li {position:relative;z-index:10;}
.menu-content .nav-tabs>li>a {font-weight:700;font-size:24px;border:none;color:var(--c-white);text-decoration:none;transition:color 0.5s ease;}
.menu-content .nav-tabs>li>a.active {margin-top:10px;color:var(--c-blue-deep);}
.menu-content .nav-tabs>.active-highlight {display:block;position:absolute;background:var(--c-white);border-radius:10px 10px 0 0;;}

@media (max-width: 1200px) {
    .menu-content .nav>li>a {padding:12px 40px 18px;}
}

@media (max-width: 992px) {
    .menu-content .nav>li>a {padding:15px 25px;}
    .menu-content .nav-tabs>li>a {font-size:20px;}
}

@media (max-width: 768px) {
    .menu-content .nav>li>a {padding:10px 20px;}
    .menu-content .nav-tabs>li>a {font-size:18px;}
}

.overview-calendar-block {background:var(--c-white);border-radius:0px 0px 10px 10px;padding:27px 20px 0px;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.overview-calendar-block .ticket {padding-right:20px;border-right:1px solid var(--c-blue-deep);}
.overview-calendar-block .ticket .title {padding:5px 0 17px 0;font-weight:400;font-size:16px;color:var(--c-blue-deep);text-align:center;}
.overview-calendar-block .ticket .price {padding:0 0 26px 0;font-weight:700;font-size:36px;color:var(--c-blue-deep);text-align:center;}
.overview-calendar-block .ticket .buy-btn {display:block;max-width:114px;margin:0 auto;padding:8px 15px 4px;color:var(--c-white);font-weight:700;font-size:20px;
    background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);border-radius:5px;text-align:center;border:none;}
.overview-calendar-block .ticket .buy-btn:hover {background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);}
.overview-calendar-block .availability {display:flex;align-items:center;justify-content:space-between;margin-left:10px;border-bottom:1px solid var(--c-blue-deep);}
.overview-calendar-block .availability .head {font-weight:700;font-size:24px;color:var(--c-blue-deep);}
.overview-calendar-block .availability .more-available-dates-head {margin-bottom:7px;font-weight:700;font-size:16px;color:var(--c-blue-deep);text-decoration:none;}
.overview-calendar-block .availability i {padding:0 0 0 10px;font-size:35px;position:relative;top:7px;}
.overview-calendar-block .availability .fa-gradient {background:-webkit-gradient(linear,left top,right bottom,from(var(--c-violet)),to(var(--c-violet-gray)));
	-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-align:center;}
.overview-calendar-block .availability-line {position:relative;top:25%;left:50%;transform:translate(-50%, -50%);width:96%;height:1px;
    background:linear-gradient(90deg, var(--c-violet) 0%, var(--c-violet-gray) 100%);text-align:center;}
.overview-calendar-block .calendar-slider {position:relative;padding:10px 0 0 10px;}
.overview-calendar-block .calendar-slider .frame ul {transform-translateZ:none !important;width:9999999999px;overflow:hidden;}
.overview-calendar-block .calendar-slider .frame ul li {width:110px;margin:0 9px;}
.overview-calendar-block .calendar-slider .calendar-slider-items .date {padding:0 0 5px 0;font-weight:700;font-size:18px;color:var(--c-blue-deep);text-align:center;}
.overview-calendar-block .calendar-slider .calendar-slider-items .w {padding:0 0 14px 0;font-weight:350;font-size:16px;color:var(--c-blue-deep);text-align:center;opacity:0.7;}
.overview-calendar-block .calendar-slider .calendar-slider-items a {padding:7px 10px 3px;font-size:20px;font-weight:700;border:1px solid var(--c-new-blue);border-radius:5px;
    background:var(--c-new-blue);text-decoration:none;color:var(--c-white)}
.overview-calendar-block .calendar-slider .calendar-slider-items a:hover {border:none;padding:8px 12px 4px;background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);color:var(--c-white);}
.overview-calendar-block .calendar-slider .calendar-slider-items .tag {display:inline-block;width:100%;text-align:center;font-weight:700;font-size:20px;}
.overview-calendar-block .calendar-slider .calendar-slider-items .tag.na {padding-top:7px;color:var(--c-new-blue)}

@media (max-width: 1200px) {
    .overview-calendar-block {padding:27px 12px 0}
    .overview-calendar-block .ticket {padding-right:10px;}
    .overview-calendar-block .ticket .title {font-size:17px;}
    .overview-calendar-block .ticket .price {padding:12px 0 24px 0;font-size:30px;}
}

@media (max-width: 992px) { 
    
}

@media (max-width: 768px) {
    .overview-calendar-block .ticket {display:none;}
}

.overview-description {padding: 20px 0 0 0;}
.overview-description .title {padding:20px 0 0 0;font-weight:700;font-size:24px;color:var(--c-white);}
.overview-description .description {padding:10px 0 0 0;font-weight:400;font-size:20px;color:var(--c-white);}
.overview-description .view-full-description {padding:20px 0 0 0;font-weight:700;font-size:16px;color:var(--c-white);text-decoration:none;}
.overview-description i {padding:0 0 0 10px;font-size:35px;position:relative;bottom:-8px;}

@media (max-width: 1200px) {
    .overview-description .description {font-size:20px;}
}

@media (max-width: 992px) {
    .overview-description .title {font-size:20px;}
    .overview-description .description {font-size:18px;}
}

@media (max-width: 768px) {
    .overview-description .title {font-size:18px;}
    .overview-description .description {font-size:16px;}
    .overview-description .view-full-description {font-size:14px;}
    .overview-description i {font-size:30px;bottom:-6px;}
}

.overview-gallery {padding:40px 0 0 0;}
.overview-gallery .title {padding:0 0 10px 0;font-weight:700;font-size:32px;color:var(--c-white);text-transform:uppercase;}
.overview-gallery .line {position:absolute;width:100%;height:1px;left:0;background:var(--c-white);}
.overview-gallery .masonry-grid {margin:30px -10px 20px;}
.overview-gallery .grid-item, .overview-gallery .grid-sizer {float:left;width:20%;padding:10px;}
.overview-gallery .grid-item div {border-radius:8px;box-shadow:0 2px 8px 0 var(--c-blue-deep-dark-2);}
.overview-gallery .grid-item img {width:100%;border-radius:5px;}
.overview-gallery .grid-item iframe {margin:0 0 -5px;width:100%;border-radius:10px;}
.overview-gallery .grid-item--width2 {width:40%;}
.overview-gallery .grid-item iframe {height:300px;}

.overview-may-also-like {padding:40px 0 0 0;}
.overview-may-also-like .title {padding:0 0 10px 0;font-weight:700;font-size:32px;color:var(--c-white);text-transform:uppercase;}
.overview-may-also-like .line {position:absolute;width:100%;height:1px;left:0;background:var(--c-white);}
.overview-may-also-like .recommended-items {padding:40px 0 0 0;}

@media (max-width: 1600px) {
    .overview-may-also-like .recommended-items {padding:40px 35px 0;}
}

.description-panel {padding:20px 40px 0;background:var(--c-white);border-radius:0 0 10px 10px;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.description-panel .title {padding:0 0 10px 0;font-weight:700;font-size:24px;color:var(--c-new-blue);}
.description-panel .description {padding:0 0 20px 0;font-weight:400;font-size:20px;color:var(--c-new-blue);}

@media (max-width: 1200px) {
    .description-panel .description {font-size:20px;}
}

@media (max-width: 992px) {
    .description-panel .title {font-size:20px;}
    .description-panel .description {font-size:18px;}
    .overview-gallery .grid-item iframe {height:200px;}
}

@media (max-width: 768px) {
    .description-panel .title {font-size:18px;}
    .description-panel .description {font-size:16px;}
    .overview-gallery .grid-item iframe {height:150px;}
}

.gallery-panel {padding:20px 40px;background:var(--c-white);border-radius:0 0 10px 10px;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.gallery-panel .popup-gallery {text-align:center;}
.gallery-panel .popup-gallery a {position:relative;display:inline-block;margin:0 20px 30px 0;}
.gallery-panel .popup-gallery a img {height:auto;max-width:280px;border-radius:10px;}
.gallery-panel .popup-gallery a .play-video {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);padding:10px;background:var(--c-white);border-radius:5px;
    border:1px solid transparent;background:linear-gradient(var(--c-white), var(--c-white)) padding-box,linear-gradient(to right, var(--c-violet-gray), var(--c-violet)) border-box;text-decoration:none;}
.gallery-panel .popup-gallery a .play-video img {width:25px;}

#calendar {padding:20px 40px;background:var(--c-white);border-radius:0 0 10px 10px;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.fc .fc-toolbar {justify-content:center;gap:10px;}
.fc .fc-toolbar-title {font-weight:700;font-size:36px;color:var(--c-new-blue);text-transform:uppercase;}
.fc .fc-button, .fc .fc-button:hover {background-color:var(--c-white);border:1px solid var(--c-white);text-align:center;text-decoration:none;}
.fc .fc-button .fc-icon {font-size:40px;background:-webkit-gradient(linear,left top,right bottom,from(var(--c-violet)),to(var(--c-violet-gray)));
    -webkit-background-clip:text;-webkit-text-fill-color: transparent;text-align:center;}
.fc .fc-button-primary, .fc .fc-button-primary:not(:disabled):active:focus, .fc .fc-button:focus{background-color:var(--c-white);border:1px solid var(--c-white);text-align:center;text-decoration:none;box-shadow:0 0 0 0;}
.fc .fc-col-header-cell-cushion {color:var(--c-new-blue);text-decoration:none;font-weight:700;font-size:24px;text-transform:uppercase;}
.fc .fc-daygrid-day-number {color:var(--c-new-blue);text-decoration:none;font-weight:400;font-size:18px;}
.fc .fc-daygrid-day {background:var(--c-light-violet);border:2px solid var(--c-white) !important;}
.fc .fc-daygrid-day.fc-day-today {background:var(--c-purple-bright);}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {color:var(--c-white);}
.fc .fc-h-event {border:1px solid transparent;background:transparent;text-align:right;padding:10px 5px 0 0;}
.fc .fc-h-event .fc-event-main {color:var(--c-blue-deep);font-weight:700;font-size:24px;}
.fc .fc-daygrid-day.fc-day-today .fc-h-event .fc-event-main {color:var(--c-white);}
.fc .fc-daygrid-day-top {padding:15px 5px 0 0;}
.fc .fc-daygrid-day.fc-day-other {opacity: 0.5;}
.fc-scrollgrid {border:2px solid var(--c-white) !important;}
.fc-theme-standard td, .fc-theme-standard th {border:2px solid var(--c-white) !important;}
.fc tbody td {border-top:1px solid transparent !important;background:linear-gradient(var(--c-white), var(--c-white)) padding-box,
    linear-gradient(to right, var(--c-violet-gray), var(--c-violet)) border-box;}

@media (max-width: 992px) {
    .fc .fc-h-event .fc-event-main {font-size:18px;}
}

@media (max-width: 768px) {
    .fc .fc-toolbar-title {font-size:30px;}
    .fc .fc-button, .fc .fc-button:hover {width:60px;}
    .fc .fc-col-header-cell-cushion {font-size:18px;}
    .fc .fc-h-event .fc-event-main {font-size:14px;}
}

@media (max-width: 576px) {
    .fc .fc-col-header-cell-cushion {font-size:14px;}
    .fc .fc-h-event .fc-event-main {font-size:10px;}
}

.packages-panel {padding:20px 40px;background:var(--c-white);border-radius:0 0 10px 10px;
    box-shadow: 0px 0px 0px 0px var(--c-shadow-purple-1), 2px 3px 8px 0px var(--c-shadow-purple-1), 7px 13px 15px 0px var(--c-shadow-purple-2), 16px 29px 20px 0px var(--c-shadow-purple-3), 29px 51px 23px 0px var(--c-shadow-purple-4), 46px 79px 26px 0px var(--c-shadow-purple-5);}
.packages-panel .title {font-weight:700;font-size:24px;color:var(--c-new-blue);text-align:center;}
.packages-panel .item {padding:20px 0;}
.packages-panel .item .package-name {display:flex;align-items:center;justify-content:space-between;gap:100px;padding:10px 20px;border-radius:5px;background:var(--c-light-violet);}
.packages-panel .item .package-name .name {font-weight:700;font-size:36px;color:var(--c-blue-deep);}
.packages-panel .item .package-name .save-up {padding:7px 20px 5px;border:1px solid var(--c-blue-deep);border-radius:5px;background:var(--c-white);
    font-weight:700;font-size:20px;color:var(--c-blue-deep);}
.packages-panel .item .package-info {padding:30px 0 10px 0;border-bottom:1px solid var(--c-new-blue);}
.packages-panel .item .info {display:flex;align-items:center;justify-content:start;gap:40px;}
.packages-panel .item .info .info-item {font-size:18px;color:var(--c-blue-deep);}
.packages-panel .item .info .info-item .info-title {font-weight:700;}
.packages-panel .item .info .info-item span {font-weight:400;}
.packages-panel .item .price {display:flex;align-items:center;justify-content:end;gap:60px;}
.packages-panel .item .price .price-item {color:var(--c-blue-deep);}
.packages-panel .item .price .price-item .price-title {font-size:16px;font-weight:400;text-transform:uppercase;}
.packages-panel .item .price .price-item span {font-weight:700;font-size:24px;}
.packages-panel .item .description {padding:30px 0;font-weight:400;font-size:18px;color:var(--c-blue-deep);text-align:left;}
.packages-panel .item .buy-package {margin:30px 0 0;padding:6px 43px 5px;font-weight:700;font-size:20px;color:var(--c-white);
    background:linear-gradient(90deg, var(--c-violet-gray) 0%, var(--c-violet) 100%);border-radius:5px;float:right;border:0;}
.packages-panel .item .buy-package:hover {background:linear-gradient(90deg, var(--c-violet-gray) 60%, var(--c-violet-dark) 100%);}
.packages-panel .item .items-in .package-item {display:flex;align-items:center;justify-content:start;gap:20px;}
.packages-panel .item .items-in a {font-weight:700;font-size:16px;display:block;color:var(--c-blue-deep);text-decoration:none;}
.packages-panel .item .items-in a img {margin:15px 0;width:100px;border-radius:10px;}

@media (max-width: 1200px) {
    .packages-panel .item .package-name .name {font-size:32px;}
}

@media (max-width: 992px) {
    .packages-panel .item .package-name .name {font-size:30px;}
    .packages-panel .item .info {display:block;text-align:center;}
    .packages-panel .item .price {gap:30px;}
    .packages-panel .item .price .price-item span {font-size:20px;}
}

@media (max-width: 768px) {
    .packages-panel .item .package-name .name {font-size:24px;}
    .packages-panel .item .package-name .save-up {font-size:18px;padding:6px 10px 5px;}
    .packages-panel .item .price {padding:0 0 30px 0;justify-content:space-evenly;}
    .packages-panel .item .description {font-size:16px;}
    .packages-panel .item .buy-package {padding:6px 15px 5px;font-size:18px;}
}

@media (max-width: 575px) {
    .packages-panel .item .package-name .name {text-align:center;}
    .packages-panel .item .package-name .save-up {display:inline-block;width:100%;margin:0 0 20px 0;text-align:center;}
    .packages-panel .item .info .info-item {font-size:14px;}
    .packages-panel .item .price .price-item .price-title {font-size:14px;}
    .packages-panel .item .price .price-item span {font-size:18px;}
    .packages-panel .item .buy-package {display:inline-block;width:100%;margin:0;}
}
